build/classes/java/main/Demo.class
build/classes/java/test/DemoTest.class
build/libs/IntroToUnitTesting.jar
build/reports/tests/test/index.html
build/reports/tests/test/classes/DemoTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/default-package.html
build/test-results/test/TEST-DemoTest.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
.gradle/8.7/gc.properties
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/checksums/md5-checksums.bin
.gradle/8.7/checksums/sha1-checksums.bin
.gradle/8.7/dependencies-accessors/gc.properties
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileChanges/last-build.bin
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
